<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<header>
  <img class="logo" src="../../assets/img/logo-logo.svg" alt="" />
  <nav *ngIf="screenWidth >= 1024">
    <ul>
      <li appScrollAnchor="about">О клубе</li>
      <li appScrollAnchor="prices">Цены</li>
      <li appScrollAnchor="equipment">Характеристики</li>
      <li appScrollAnchor="games">Игры</li>
      <li appScrollAnchor="contacts">Контакты</li>
    </ul>
  </nav>
  <div class="phone" *ngIf="screenWidth >= 1024">
    <a href="tel:+375445214449">+375 (44) 521-44-49</a>
  </div>
  <div class="working-time" *ngIf="screenWidth >= 1024">
    <span>24/7</span>
  </div>
  <div class="hamburger-container" *ngIf="screenWidth < 1024">
    <input id="menu-toggle" type="checkbox"/>
    <label for="menu-toggle" class="hamburger">
      <span class="line"></span>
    </label>
  </div>
</header>

<main>
  <h1>
    <img src="../../assets/img/logo-text.svg" alt="" style="display: none" />
    <span style="display: none">Cyber Club</span>
  </h1>
  <a class="anchor-button" href="#">
    <span *ngFor="let spans of buttonSpans"></span>
    Start to play
  </a>
</main>

<app-about appScrollSection="about"></app-about>

<app-prices
  [headlineSpans]="headlineSpans"
  [screenWidth]="screenWidth"
  appScrollSection="prices"
></app-prices>

<app-equipment
  [headlineSpans]="headlineSpans"
  appScrollSection="equipment"
></app-equipment>

<app-games [headlineSpans]="headlineSpans" appScrollSection="games"></app-games>

<app-contacts
  [headlineSpans]="headlineSpans"
  appScrollSection="contacts"
></app-contacts>

<router-outlet></router-outlet>
