<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<app-loader *ngIf="isLoading" [loadingDelay]="loadingDelay"></app-loader>
<div class="wrapper" [class.blocked]="!loadingDelay">
  <header>
    <img class="logo" src="../../assets/img/logo-logo.webp" alt="" />
    <nav *ngIf="screenWidth >= 1024">
      <ul>
        <li
          *ngFor="let navItem of navList"
          appScrollAnchor="{{ navItem.anchor }}"
        >
          {{ navItem.label }}
        </li>
      </ul>
    </nav>
    <div class="phone" *ngIf="screenWidth >= 1024">
      <a href="tel:+375445214449">+375 (44) 521-44-49</a>
    </div>
    <div class="working-time" *ngIf="screenWidth >= 1024">
      <span>24/7</span>
    </div>
    <div
      class="hamburger"
      *ngIf="screenWidth < 1024"
      [class.active]="activateBurger"
      (click)="toggleHamburger()"
    >
      <span class="line"></span>
    </div>
    <nav
      class="hamburger-body"
      *ngIf="screenWidth < 1024"
      [class.active]="activateBurger"
    >
      <ul class="hamburger-list" (click)="disableHamburger()">
        <div class="burger-li">
          <li
            *ngFor="let navItem of navList"
            appScrollAnchor="{{ navItem.anchor }}"
          >
            {{ navItem.label }}
          </li>
        </div>

        <div class="burger-nav">
          <a href="tel:+375445214449"> +375 (44) 521-44-49 </a>
          <a (click)="activateModal()">Оставить заявку</a>
          <div class="social-links">
            <a href="https://t.me/alliancecyberclub"
              ><img src="../../assets/img/tg.svg" alt=""
            /></a>
            <a href="https://instagram.com/alliance_cyber_club"
              ><img src="../../assets/img/instagram.svg" alt=""
            /></a>
            <a href="https://yandex.by/maps/-/CXB7e5C"
              ><img src="../../assets/img/location-map.svg" alt=""
            /></a>
          </div>
        </div>
      </ul>
    </nav>
    <div
      class="overlay"
      (click)="disableHamburger()"
      [class.blocked]="activateBurger"
      [class.active]="activateBurger"
    ></div>
  </header>
  <main>
    <h1>
      <img class="logo" src="../../assets/img/logo-logo.webp" alt="logo" />
      <img src="../../assets/img/logo-text.webp" alt="logo-text" />
      <span>Cyber Club</span>
    </h1>
    <a class="anchor-button" (click)="activateModal()">
      <span *ngFor="let spans of buttonSpans"></span>
      Start to play
    </a>
  </main>

  <div [class.activated]="isModalActive" class="modal" (click)="disableModal()">
    <div
      class="modal-content"
      [class.activated]="isModalActive"
      appStopPropagation
    >
      <h4>
        Оставляйте заявку прямо сейчас и вам перезвонят в течении 5 минут!
      </h4>
      <form [formGroup]="userDataGroup" (submit)="sendForm()">
        <div class="control">
          <label class="label" for="name"> Имя </label>
          <input formControlName="name" id="name" type="text" />
        </div>

        <div class="control">
          <label class="label" for="phone"> Номер </label>
          <input
            appPhoneFormat
            formControlName="phone"
            id="phone"
            type="text"
          />
        </div>

        <button type="submit" class="form-button">
          <span *ngFor="let spans of buttonSpans"></span>
          Отправить заявку
        </button>

        <div class="approve">
          <span class="label approve" for="approve">
            *Отправляя заявку вы даете своё согласие на обработку <br />
            <a
              target="_blank"
              href="https://pravo.by/novosti/novosti-pravo-by/2022/november/72150/"
              >своих персональных данных
            </a>
          </span>
        </div>
      </form>
    </div>
  </div>

  <app-about appScrollSection="about"></app-about>

  <app-prices
    [headlineSpans]="headlineSpans"
    [screenWidth]="screenWidth"
    appScrollSection="prices"
  ></app-prices>

  <app-equipment
    [headlineSpans]="headlineSpans"
    appScrollSection="equipment"
  ></app-equipment>

  <app-games
    [headlineSpans]="headlineSpans"
    appScrollSection="games"
  ></app-games>

  <app-contacts
    [screenWidth]="screenWidth"
    [headlineSpans]="headlineSpans"
    appScrollSection="contacts"
  ></app-contacts>
</div>

<router-outlet></router-outlet>
