:host {
  display: block;
  height: 100vh;

  > header {
    display: grid;
    grid-template-columns: 5% 40% 10% 5%;
    gap: 5%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    background-color: var(--bg-color-header);
    z-index: 1;
  }

  > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    background-image: url(../../assets/img/test.webp); //TODO: REPLACE ORIGINAL IMG
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    overflow: hidden;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        100deg,
        #3f1b3499 17%,
        #1b1231cc 60%,
        #1b092466 100%
      );
      z-index: 0;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      right: 0;
      bottom: -2px;
      width: 440px;
      height: 90px;
      background-image: url(../../assets/img/frame-1.svg);
    }
  }
}

header {
  > .logo {
    width: 4rem;
    padding-left: 20px;
  }

  > .logo-text {
    width: 12rem;
    padding-left: 10px;
  }

  > .phone,
  .working-time {
    color: var(--text-color-nav);
    font-size: 1rem;
    display: flex;
    align-items: center;

    &::before {
      position: relative;
      display: block;
      content: "";
      width: 22px;
      height: 22px;
    }
  }

  > .phone::before {
    background-image: url(../../assets/img/phone.svg);
    background-repeat: no-repeat;
  }

  > .working-time::before {
    background-image: url(../../assets/img/timer.svg);
    background-repeat: no-repeat;
  }
}

.phone {
  > a {
    text-decoration: none;
    color: var(--text-color-nav);
  }
}

ul {
  display: flex;
  justify-content: space-around;

  > li {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-color-nav);
  }
}

main {
  > h1 {
    display: flex;
    flex-direction: column;
    z-index: 1;

    &::after {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      bottom: -2px;
      width: 80%;
      height: 35px;
      background-image: url(../../assets/img/frame-2.svg);
    }
  }

  > .anchor-button {
    margin-top: 8rem;
    animation: neon 2s ease-in-out infinite;
  }
}

h1 {
  > span {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5em;
    line-height: 5.5rem;
    color: var(--text-color-h1);
    font-family: "Jersey";
  }

  > img {
    margin: 0 auto;
    width: 35vw;
  }
}

.glitched {
  position: relative;
  font-size: 3rem;
  color: var(--text-color-h2);

  & span:first-child {
    position: absolute;
    text-shadow: -1px 0 0 var(--shadow-color-red),
      1px 0 0 var(--shadow-color-blue);
    visibility: hidden;
    -webkit-animation: c 1.5s infinite;
    animation: glitch 1.5s infinite;
    -webkit-animation-timing-function: steps(1);
    animation-timing-function: steps(1);
  }
}

.header-text {
  &::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 35px;
    background-color: var(--article-color-before);
    transform: skewX(-30deg);
    top: 10px;
    left: -50px;
    letter-spacing: 1px;
    margin-right: 20px;
  }
}

.frames {
  > .frame-1,
  .frame-2 {
    display: block;
  }
}

.about {
  position: relative;
  top: 0;
  padding: 10vh;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-color-about);
  background-image: url(../../assets/img//plants-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
  overflow: hidden;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  font-family: "Clickuper";
  color: var(--text-color-h2);
  width: 45%;
  height: 100%;
  background-size: cover;
  align-self: start;

  > span {
    font-size: 1.75rem;
    color: var(--text-color-span);
  }

  > h2 {
    font-size: 3rem;
    padding-bottom: 25px;
  }
}

.slider-container {
  height: 100%;
  width: 100%;
  padding-left: 5vh;
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 80vh;
  padding: 10vh 5vw;
  background: url(../../assets/img/bg_sky.svg) repeat;
  background-position: center top;
  background-attachment: fixed;
  font-family: "Clickuper";

  &::before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: -2px;
    width: 440px;
    height: 90px;
    background-image: url(../../assets/img/frame-1.svg);
    transform: rotate(180deg);
  }

  > table {
    &::before {
      position: absolute;
      display: block;
      content: "";
      right: 0;
      top: 0;
      width: 80%;
      height: 35px;
      background-image: url(../../assets/img/frame-2.svg);
      transform: rotate(180deg);
    }
  }

  > p {
    font-size: 2.8rem;
    color: var(--text-color-p);
    text-align: center;

    > span {
      color: var(--text-color-subs);
    }
  }
}

.prices-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 1rem;
  font-size: 2.6rem;
  color: var(--text-color-span);
}

.price-row {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

td {
  text-align: center;
}

.table-header {
  > td {
    color: var(--text-color-td);
  }
}

.purple-td {
  color: var(--text-color-ptd);
}

.plans-td {
  padding-top: 10%;
}

.plan-time {
  display: block;
  color: var(--text-color-span);
  font-size: 1.5rem;
}

.tr-border {
  border-bottom: 1px solid var(--border-color-tr);
}

.td-green {
  background-color: var(--bg-color-td);
  color: var(--acitve-color-td);
}

.top-left-border {
  -webkit-border-top-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  border-top-left-radius: 30px;
}

.top-right-border {
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topright: 30px;
  border-top-right-radius: 30px;
}

.bottom-left-border {
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-bottom-left-radius: 30px;
}

.bottom-right-border {
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  border-bottom-right-radius: 30px;
}

.equipment {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  padding: 5vh 5vw;
  background-image: url(../../assets/img/red-plants-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 10vw;
  background-blend-mode: difference;
  background-color: var(--bg-color-equipment);
  font-family: "Clickuper";

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--bd-color-equipment);
    animation: neon 2s ease-in-out infinite;
  }
}

.equipment-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5% 10px;
  font-size: 2rem;
  background-color: #000000f0;
  border-radius: 10px;
}

.item {
  display: flex;
  flex-basis: 45%;
  margin: 20px;
}

.item-img {
  max-width: 8rem;
}

.item-info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--text-color-span);

  & span:first-child {
    color: var(--text-color-ptd);
  }
}

.games {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding: 5vh 5vw;
  background: url(../../assets/img/bg_sky.svg) repeat;
  background-position: center top;
  background-attachment: fixed;
  font-family: "Clickuper";

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--bd-color-equipment);
    animation: neon 2s ease-in-out infinite;
  }
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 20%;
  margin: 10px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.games-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-name {
  font-size: 2rem;
  color: var(--text-color-span);
}

.game-img {
  max-width: 330px;
  height: 100%;
  border-radius: 10px;
  filter: brightness(60%);
  transition: 0.3s;

  &:hover {
    filter: brightness(100%);
  }
}

.location {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  padding: 5vh 5vw;
  background-color: var(--bg-color-location);
  font-family: "Clickuper";

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--bd-color-equipment);
    animation: neon 2s ease-in-out infinite;
  }
}

.label-info {
  padding-left: 10px;
  color: var(--text-color-p);
}

.contact-info {
  color: var(--text-color-span);
}

.img-info {
  width: 3rem;
}

.info-item {
  display: flex;
  align-items: center;
}

.location-map {
  display: flex;
  justify-content: center;
  width: 100%;
}

.location-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.location-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  font-size: 2.5rem;
}