<section class="about">
  <div class="about-info">
    <h2>
      Стань Частью Легендарного Киберспортивного Мира!
    </h2>
    <span>
      Новый подход к сфере киберспорта - это модный, уникальный интерьер,
      потрясающая атмосфера, топовое железо и высококачественное обслуживание во
      всех аспектах.
      <br />
      Тебя ждут 50 мощных пк, топ девайсы, две игровые зоны и все что нужно для
      комфортной игры.
      <br />
      Наша цель - чтобы вы не просто посещали нас в качестве гостя, а стали
      неотъемлемой частью нашего комьюнити.
    </span>
  </div>
  <div class="slider-container">
    <app-image-slider [slides]="slides"> </app-image-slider>
  </div>
</section>
