<footer class="location">
  <h2 class="header-text glitched" appScrollAppearance="right">
    <span *ngFor="let spans of headlineSpans">Контакты</span>
  </h2>
  <div class="location-list" appScrollAppearance="right">
    <div class="info-item" *ngFor="let contact of contacts">
      <a href="{{ contact.href }}"
        ><img class="img-info" src="{{ contact.url }}" alt="social-link"
      /></a>
      <span>
        <span class="label-info">{{ contact.info }}: </span>
        <br *ngIf="screenWidth < 1024" />
        <span class="contact-info">{{ contact.contact }}</span></span
      >
    </div>
  </div>
  <div class="location-map" appScrollAppearance="left">
    <iframe
      class="map"
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A41a2aa690be3c1aaee8518ea50afbf29bd39309e07a4e068e9d153ab7a8658f5&amp;source=constructor"
      width="1600"
      height="490"
      frameborder="0"
    ></iframe>
  </div>
  <p class="copyright">
    <span class="bumble"> </span>

    <span>Cyber Alliance © 2023</span>

    <a href="https://github.com/AlexKaroh">
      <img
        class="author-link"
        src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGk5MWs5a3Q0ejB5NWZtdzBlM21iYmp5dTQ1aXpxc3NnZnpudmZrcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/x6gK6IM6YetiQ0X0iw/giphy.gif"
        alt="autor image"
    /></a>
  </p>
</footer>
