.location {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 90vh;
  padding: 5vh 5vw 2vh 5vw;
  background-color: var(--bg-color-location);
  font-family: 'Clickuper';
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--bd-color-equipment);
    animation: neon 2s ease-in-out infinite;
  }
}

.label-info {
  padding-left: 10px;
  color: var(--text-color-p);
}

.contact-info {
  color: var(--text-color-span);
}

.img-info {
  width: 4.8rem;
}

.info-item {
  display: flex;
  align-items: center;
}

.location-map {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 0px 1rem var(--bd-color-map);
}

iframe {
  filter: grayscale(1) invert(85%);
  width: 100%;
}

.location-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.location-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0;
  font-size: 3.2rem;
}

.info-item {
  padding: 1.5rem 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  text-align: center;
  font-size: 1.725rem;
  font-family: 'Clickuper';
  color: var(--text-color-p);
}