.equipment {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 90vh;
  padding: 5vh 5vw;
  background-image: url(../../assets/img/red-plants-bg.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 10vw;
  background-blend-mode: difference;
  background-color: var(--bg-color-equipment);
  font-family: 'Clickuper';

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--bd-color-equipment);
    animation: neon 2s ease-in-out infinite;
  }
}

.equipment-items {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  margin-top: 12vh;
  padding: 10px 0;
  width: 80%;
  font-size: 1.5rem;
  background-color: #000000bb;
  border-radius: 10px;
}

.item {
  display: flex;
  flex-basis: 45%;
  margin: 20px;
}

.item-img {
  max-width: 6rem;
}

.item-info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--text-color-span);

  & span:first-child {
    color: var(--text-color-ptd);
  }
}
