.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 10vh 5vw;
  height: 80vh;
  background: url(../../assets/img/bg_sky.svg) repeat;
  background-position: center top;
  background-attachment: fixed;
  font-family: "Clickuper";
  overflow: hidden;

  &::before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: -2px;
    width: 440px;
    height: 90px;
    background-image: url(../../assets/img/frame-1.svg);
    transform: rotate(180deg);
  }

  > table {
    &::before {
      position: absolute;
      display: block;
      content: "";
      right: 0;
      top: 0;
      width: 80%;
      height: 35px;
      background-image: url(../../assets/img/frame-2.svg);
      transform: rotate(180deg);
    }
  }

  > p {
    font-size: 2.8rem;
    color: var(--text-color-p);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

    > span {
      color: var(--text-color-subs);
    }
  }
}

.prices-table {
  width: 100%;
  height: 70%;
  border-collapse: collapse;
  border-spacing: 0 1rem;
  font-size: 3rem;
  color: var(--text-color-span);
}

.price-row {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

td {
  text-align: center;
}

.table-header {
  > td {
    color: var(--text-color-td);
  }
}

.purple-td {
  color: var(--text-color-ptd);
}

.plans-td {
  padding-top: 10%;
}

.plan-time {
  display: block;
  color: var(--text-color-span);
  font-size: 1.5rem;
}

.tr-border {
  border-bottom: 1px solid var(--border-color-tr);
}

.td-green {
  background-color: var(--bg-color-td);
  color: var(--acitve-color-td);
}

.top-left-border {
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
}

.top-right-border {
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  border-top-right-radius: 15px;
}

.bottom-left-border {
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-left-radius: 15px;
}

.bottom-right-border {
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-right-radius: 15px;
}

.white {
  color: var(--text-color-span);
  font-size: 2.5rem;
}

.purple {
  color: var(--text-color-ptd);
  font-size: 2.5rem;
}

.green {
  color: var(--text-color-subs);
  font-size: 2.5rem;
}

.self {
  justify-self: center;
}

h4 {
  text-align: center;
  font-size: 3rem;
  position: relative;

  &::after {
    content: "";
    width: 30rem;
    height: 44px;
    display: block;
    position: absolute;
    background-color: rgba(196, 92, 200, 0.2901960784);
    clip-path: polygon(15px 3px, 78.65% -1px, 205px 81.58%, -1px 79.53%);
    top: 0;
    left: 23px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 10% 25%;
  gap: 3rem;
}

.time {
  color: var(--text-color-span);
  font-size: 1.5rem;
  padding-left: 10px;
}

.time-green {
  color: var(--text-color-green);
}

.razor-hour {
  position: relative;

  &::after {
    content: "";
    width: 30rem;
    height: 44px;
    display: block;
    position: absolute;
    background-color: rgba(196, 92, 200, 0.2901960784);
    clip-path: polygon(8px 7px, 78.98% 1px, 221px 77.04%, 0px 88.63%);
    top: -1px;
    left: -25px;
  }
}

.razor-price {
  position: relative;

  &::after {
    content: "";
    width: 32rem;
    height: 100px;
    display: block;
    position: absolute;
    background-color: rgba(196, 92, 200, 0.2901960784);
    clip-path: polygon(8px 7px, 78.98% 1px, 235px 78.04%, 0px 88.63%);
    top: -1px;
    left: -15px;
  }
}

.margin-top-20px {
  margin-top: 20px;
}

.hours {
  display: flex;
  justify-content: space-around;
}
