<section class="prices">
  <h2 class="header-text glitched" appScrollAppearance="right">
    <span *ngFor="let spans of headlineSpans">Пакеты</span>
  </h2>
  <table class="prices-table main-table" *ngIf="screenWidth >= 1024">
    <tbody appScrollAppearance>
      <tr class="table-header">
        <td rowspan="2"></td>
        <td colspan="2">Общий зал</td>
        <td></td>
        <td colspan="2">VIP</td>
      </tr>
      <tr class="purple-td">
        <td>Будни</td>
        <td>Выходные</td>
        <td></td>
        <td>Будни</td>
        <td>Выходные</td>
      </tr>
      <tr class="plans-td tr-border">
        <td class="purple-td">
          Утренний
          <span class="plan-time"> 08:00-11:00 </span>
        </td>
        <td>10</td>
        <td>10</td>
        <td></td>
        <td class="td-green top-left-border">12</td>
        <td class="td-green top-right-border">12</td>
      </tr>
      <tr class="tr-border">
        <td class="purple-td">
          Дневной
          <span class="plan-time"> 13:00-18:00 </span>
        </td>
        <td>16</td>
        <td>16</td>
        <td></td>
        <td class="td-green">18</td>
        <td class="td-green">18</td>
      </tr>
      <tr class="tr-border">
        <td class="purple-td">
          Ночной
          <span class="plan-time"> 22:00-08:00 </span>
        </td>
        <td>20</td>
        <td>25</td>
        <td></td>
        <td class="td-green">25</td>
        <td class="td-green">30</td>
      </tr>
      <tr class="tr-border">
        <td class="purple-td">
          Ночной +
          <span class="plan-time"> 20:00-08:00 </span>
        </td>
        <td>25</td>
        <td>30</td>
        <td> </td>
        <td class="td-green">30</td>
        <td class="td-green">35</td>
      </tr>
      <tr>
        <td class="purple-td">Сутки</td>
        <td class="td-green bottom-left-border top-left-border">45</td>
        <td class="td-green bottom-right-border top-right-border">45</td>
        <td> </td>
        <td class="td-green bottom-left-border">45</td>
        <td class="td-green bottom-right-border">45</td>
      </tr>
    </tbody>
  </table>

  <div class="separate-tables" *ngIf="screenWidth < 1024">
    <table class="prices-table">
      <tbody>
        <tr class="table-header">
          <td colspan="3">Общий зал</td>
        </tr>
        <tr class="purple-td">
          <td></td>
          <td>Будни</td>
          <td>Выходные</td>
        </tr>
        <tr class="plans-td tr-border">
          <td class="purple-td">
            Утренний
            <span class="plan-time"> 08:00-11:00 </span>
          </td>
          <td>10</td>
          <td>10</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">
            Дневной
            <span class="plan-time"> 13:00-18:00 </span>
          </td>
          <td>16</td>
          <td>16</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">
            Ночной
            <span class="plan-time"> 22:00-08:00 </span>
          </td>
          <td>20</td>
          <td>25</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">
            Ночной +
            <span class="plan-time"> 20:00-08:00 </span>
          </td>
          <td>25</td>
          <td>30</td>
        </tr>
        <tr>
          <td class="purple-td">Сутки</td>
          <td>45</td>
          <td>45</td>
        </tr>
      </tbody>
    </table>
    <table class="prices-table">
      <tbody>
        <tr class="table-header">
          <td colspan="3">VIP</td>
        </tr>
        <tr class="purple-td">
          <td></td>
          <td>Будни</td>
          <td>Выходные</td>
        </tr>
        <tr class="plans-td tr-border">
          <td class="purple-td">
            Утренний
            <span class="plan-time"> 08:00-11:00 </span>
          </td>
          <td class="td-green td-green top-left-border">12</td>
          <td class="td-green td-green top-right-border">12</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">
            Дневной
            <span class="plan-time"> 13:00-18:00 </span>
          </td>
          <td class="td-green">18</td>
          <td class="td-green">18</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">
            Ночной
            <span class="plan-time"> 22:00-08:00 </span>
          </td>
          <td class="td-green">25</td>
          <td class="td-green">30</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">
            Ночной +
            <span class="plan-time"> 20:00-08:00 </span>
          </td>
          <td class="td-green">30</td>
          <td class="td-green">35</td>
        </tr>
        <tr>
          <td class="purple-td">Сутки</td>
          <td class="td-green bottom-left-border">45</td>
          <td class="td-green bottom-right-border">45</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p appScrollAppearance="left">
    К каждому пакету <span>зеленого</span> цвета энергетик
    <span>GORILLA в подарок</span>!
  </p>

  <h2 class="header-text glitched" appScrollAppearance="right">
    <span *ngFor="let spans of headlineSpans">Часы</span>
  </h2>
  <div class="hours">
    <div class="hours-common">
      <div>
        <h4 class="purple">Общий зал</h4>
  
        <div class="grid">
          <span class="white self">Час</span>
          <span class="white">Цена</span>
        </div>
  
        <div class="grid">
          <span class="white self razor-hour">1</span>
          <span class="white razor-price"
            >4 <span class="purple">РУБ</span>
            <span class="time">08:00-16:00</span>
          </span>
        </div>
  
        <div class="grid">
          <span class="white self"> </span>
          <span class="white"
            >5 <span class="purple">РУБ</span>
            <span class="time">16:00-08:00</span>
          </span>
        </div>
  
        <div class="grid margin-top-20px">
          <span class="white self razor-hour">3</span>
          <span class="white razor-price"
            >10 <span class="purple">РУБ</span>
            <span class="time">08:00-16:00</span>
          </span>
        </div>
  
        <div class="grid">
          <span class="white self"> </span>
          <span class="white"
            >12 <span class="purple">РУБ</span>
            <span class="time">16:00-08:00</span>
          </span>
        </div>
  
        <div class="grid margin-top-20px">
          <span class="white self razor-hour">5</span>
          <span class="white razor-price"
            >15 <span class="purple">РУБ</span>
            <span class="time">08:00-16:00</span>
          </span>
        </div>
  
        <div class="grid">
          <span class="white self"> </span>
          <span class="white"
            >20 <span class="purple">РУБ</span>
            <span class="time">16:00-08:00</span>
          </span>
        </div>
      </div>
    </div>
    <div class="hours-vip">
      <div>
        <h4 class="purple">Випка</h4>
  
        <div class="grid">
          <span class="white self">Час</span>
          <span class="white">Цена</span>
        </div>
  
        <div class="grid">
          <span class="white self razor-hour">1</span>
          <span class="white razor-price"
            >5 <span class="purple">РУБ</span>
            <span class="time">08:00-16:00</span>
          </span>
        </div>
  
        <div class="grid">
          <span class="white self"> </span>
          <span class="white"
            >6 <span class="purple">РУБ</span>
            <span class="time">16:00-08:00</span>
          </span>
        </div>
  
        <div class="grid margin-top-20px">
          <span class="green self razor-hour">3</span>
          <span class="green razor-price"
            >12 <span class="green">РУБ</span>
            <span class="time time-green">08:00-16:00</span>
          </span>
        </div>
  
        <div class="grid">
          <span class="green self"> </span>
          <span class="green"
            >15 <span class="green">РУБ</span>
            <span class="time time-green">16:00-08:00</span>
          </span>
        </div>
  
        <div class="grid margin-top-20px">
          <span class="green self razor-hour">5</span>
          <span class="green razor-price"
            >20 <span class="green">РУБ</span>
            <span class="time time-green">08:00-16:00</span>
          </span>
        </div>
  
        <div class="grid">
          <span class="green self"> </span>
          <span class="green"
            >25 <span class="green">РУБ</span>
            <span class="time time-green">16:00-08:00</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
