<section class="prices">
  <h2 class="header-text glitched" appScrollAppearance="right">
    <span *ngFor="let spans of headlineSpans">Цены</span>
  </h2>
  <table class="prices-table main-table" *ngIf="screenWidth >= 1024">
    <tbody appScrollAppearance>
      <tr class="table-header">
        <td rowspan="2"></td>
        <td colspan="2">Общий зал</td>
        <td></td>
        <td colspan="2">VIP</td>
      </tr>
      <tr class="purple-td">
        <td>Будни</td>
        <td>Выходные</td>
        <td></td>
        <td>Будни</td>
        <td>Выходные</td>
      </tr>
      <tr class="tr-border">
        <td>1 Час</td>
        <td>4</td>
        <td>5</td>
        <td></td>
        <td>5</td>
        <td>6</td>
      </tr>
      <tr class="tr-border">
        <td class="purple-td">3 Часа</td>
        <td>10</td>
        <td>12</td>
        <td></td>
        <td class="td-green top-left-border">12</td>
        <td class="td-green top-right-border">15</td>
      </tr>
      <tr class="tr-border">
        <td>5 Часов</td>
        <td>15</td>
        <td>20</td>
        <td></td>
        <td class="td-green">20</td>
        <td class="td-green">25</td>
      </tr>
      <tr class="plans-td tr-border">
        <td class="purple-td">
          Утро
          <span class="plan-time"> (08:00-11:00) </span>
        </td>
        <td class="td-green top-left-border">10</td>
        <td class="td-green top-right-border">12</td>
        <td></td>
        <td class="td-green">12</td>
        <td class="td-green">14</td>
      </tr>
      <tr class="tr-border">
        <td class="purple-td">
          День
          <span class="plan-time"> (13:00-18:00) </span>
        </td>
        <td class="td-green">15</td>
        <td class="td-green">17</td>
        <td></td>
        <td class="td-green">18</td>
        <td class="td-green">22</td>
      </tr>
      <tr class="tr-border">
        <td class="purple-td">
          Ночь
          <span class="plan-time"> (22:00-08:00) </span>
        </td>
        <td class="td-green">20</td>
        <td class="td-green">25</td>
        <td></td>
        <td class="td-green">25</td>
        <td class="td-green">30</td>
      </tr>
      <tr>
        <td class="purple-td">Сутки</td>
        <td class="td-green bottom-left-border">45</td>
        <td class="td-green bottom-right-border">45</td>
        <td> </td>
        <td class="td-green bottom-left-border">45</td>
        <td class="td-green bottom-right-border">45</td>
      </tr>
    </tbody>
  </table>

  <div class="separate-tables" *ngIf="screenWidth < 1024">
    <table class="prices-table">
      <tbody>
        <tr class="table-header">
          <td colspan="3">Общий зал</td>
        </tr>
        <tr class="purple-td">
          <td></td>
          <td>Будни</td>
          <td>Выходные</td>
        </tr>
        <tr class="tr-border">
          <td>1 Час</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">3 Часа</td>
          <td>10</td>
          <td>12</td>
        </tr>
        <tr class="tr-border">
          <td>5 Часов</td>
          <td>15</td>
          <td>20</td>
        </tr>
        <tr class="plans-td tr-border">
          <td class="purple-td">
            Утро
            <span class="plan-time"> (08:00-11:00) </span>
          </td>
          <td class="td-green top-left-border">10</td>
          <td class="td-green top-right-border">12</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">
            День
            <span class="plan-time"> (13:00-18:00) </span>
          </td>
          <td class="td-green">15</td>
          <td class="td-green">17</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">
            Ночь
            <span class="plan-time"> (22:00-08:00) </span>
          </td>
          <td class="td-green">20</td>
          <td class="td-green">25</td>
        </tr>
        <tr>
          <td class="purple-td">Сутки</td>
          <td class="td-green bottom-left-border">45</td>
          <td class="td-green bottom-right-border">45</td>
        </tr>
      </tbody>
    </table>
    <table class="prices-table">
      <tbody>
        <tr class="table-header">
          <td colspan="3">VIP</td>
        </tr>
        <tr class="purple-td">
          <td></td>
          <td>Будни</td>
          <td>Выходные</td>
        </tr>
        <tr class="tr-border">
          <td>1 Час</td>
          <td>5</td>
          <td>6</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">3 Часа</td>
          <td class="td-green top-left-border">12</td>
          <td class="td-green top-right-border">15</td>
        </tr>
        <tr class="tr-border">
          <td>5 Часов</td>
          <td class="td-green">20</td>
          <td class="td-green">25</td>
        </tr>
        <tr class="plans-td tr-border">
          <td class="purple-td">
            Утро
            <span class="plan-time"> (08:00-11:00) </span>
          </td>
          <td class="td-green">12</td>
          <td class="td-green">14</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">
            День
            <span class="plan-time"> (13:00-18:00) </span>
          </td>
          <td class="td-green">18</td>
          <td class="td-green">22</td>
        </tr>
        <tr class="tr-border">
          <td class="purple-td">
            Ночь
            <span class="plan-time"> (22:00-08:00) </span>
          </td>
          <td class="td-green">25</td>
          <td class="td-green">30</td>
        </tr>
        <tr>
          <td class="purple-td">Сутки</td>
          <td class="td-green bottom-left-border">45</td>
          <td class="td-green bottom-right-border">45</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p appScrollAppearance="left">
    К каждому пакету <span>зеленого</span> цвета энергетик
    <span>GORILLA в подарок</span>!
  </p>
</section>
