.slider {
  width: 80em;
  height: 60em;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 80em;
  height: 60em;
  border-radius: 10px;
}

.slider-line {
  position: relative;
  left: 0px;
  transition: all ease-out 1s;
  display: flex;
}

.left-arrow,
.right-arrow {
  position: absolute;
  border: none;
  background: transparent;
  z-index: 1;
  width: 3em;
  cursor: pointer;
  top: 50%;

  > img {
    width: 100%;
  }
}

.right-arrow {
  right: 0;
}
