<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="slider">
  <button (click)="goToPrevious()" class="left-arrow">
    <img src="../../assets/img/slider/left-arrow.svg" alt="">
  </button>
  <button (click)="goToNext()" class="right-arrow">
    <img src="../../assets/img/slider/right-arrow.svg" alt="">
  </button>
  <div class="slider-line" #sliderLine>
    <img
      *ngFor="let slide of slides"
      class="slide"
      src="{{ slide.url }}"
      alt="{{ slide.title }}"
      draggable="false"
    />
  </div>
</div>
