@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap');
@import '/src/assets/styles/vars';
@import '/src/assets/styles/adaptive';
@import '/src/assets/styles/fonts';
@import '/src/assets/styles//animations';

// indentation zeroing

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color-body);
  font-family: 'Inter', 'Intro', sans-serif;
}

br {
  display: block;
  content: '';
  margin: 10px 0;
}

.glitched {
  position: relative;
  font-size: 3rem;
  color: var(--text-color-h2);

  & span:first-child {
    position: absolute;
    text-shadow: -1px 0 0 var(--shadow-color-red),
      1px 0 0 var(--shadow-color-blue);
    visibility: hidden;
    -webkit-animation: c 1.5s infinite;
    animation: glitch 1.5s infinite;
    -webkit-animation-timing-function: steps(1);
    animation-timing-function: steps(1);
  }
}

.header-text {
  &::before {
    position: relative;
    top: 2px;
    right: 15px;
    display: inline-block;
    content: '';
    width: 2rem;
    height: 2.4rem;
    background-color: var(--article-color-before);
    transform: skewX(-30deg);
    margin-right: 25x;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  width: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #780091;
  border: none;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background: #1e0033;
}
