@import '/src/assets/styles/vars';
@import '/src/assets/styles/fonts';
@import '/src/assets/styles//animations';
@import '/src/assets/styles/adaptive';

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color-body);
  font-family: 'Inter', 'Intro', sans-serif;
}

br {
  display: block;
  content: '';
  margin: 10px 0;
}

.glitched {
  position: relative;
  font-size: 4.8rem;
  color: var(--text-color-h2);

  & span:first-child {
    position: absolute;
    text-shadow: -1px 0 0 var(--shadow-color-red),
      1px 0 0 var(--shadow-color-blue);
    visibility: hidden;
    -webkit-animation: c 1.5s infinite;
    animation: glitch 1.5s infinite;
    -webkit-animation-timing-function: steps(1);
    animation-timing-function: steps(1);
  }

  & span:last-child {
    text-shadow: #9a00b95d 30px -10px;
  }
}

.fade-in {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateX(0);
}

.translate-left {
  transform: translateX(10%);
}

.translate-right {
  transform: translateX(-10%);
}

.header-text {
  &::before {
    position: relative;
    top: 2px;
    right: 15px;
    display: inline-block;
    content: '';
    width: 3.2rem;
    height: 3.84rem;
    background-color: var(--article-color-before);
    transform: skewX(-30deg);
    margin-right: 25x;
  }
}

.blocked {
  overflow: hidden;
}

.transparent {
  transition: 1s;
  opacity: 0;
}

.loader-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e0036;
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader-outter {
  position: absolute;
  border: 4px solid #9a35ed;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41)
    infinite;
  animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.loader-inner {
  position: absolute;
  border: 4px solid #d8b5ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 18px);
  top: calc(50% - 22px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41)
    infinite;
  animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@-webkit-keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #780091;
  border: none;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background: var(--bg-color-body);
}
