@media (max-width: 1890px) {
  .slider-container {
    font-size: 13px;
  }
}

@media (max-width: 1680px) {
  header {
    font-size: 1.4rem;

    > .phone,
    .working-time {
      font-size: 1.4rem;
    }
  }

  .about-info {
    > h2 {
      font-size: 4rem;

      &::before {
        width: 2.3rem;
        height: 3rem;
      }
    }

    > span {
      font-size: 2.8rem;
    }
  }

  .equipment-items {
    font-size: 2.4rem;
  }

  .slider-container {
    font-size: 12px;
  }
}

@media (max-width: 1560px) {
  .about-info {
    justify-content: space-between;
    height: auto;

    > h2 {
      font-size: 4rem;

      &::before {
        width: 2.3rem;
        height: 3rem;
      }
    }

    > span {
      font-size: 3.3rem;
    }
  }

  .slider-container {
    font-size: 11px;
  }
}

@media (max-width: 1560px) {
  .slider-container {
    font-size: 10px;
  }
}

@media (max-width: 1460px) {
  .about-info {
    > h2 {
      font-size: 4rem;
      width: 60%;

      &::before {
        width: 2.3rem;
        height: 3rem;
      }
    }

    > span {
      font-size: 2.75rem;
    }
  }
}

@media (max-width: 1366px) {
  .slider-container {
    padding-left: 0;
    padding-top: 4rem;
    font-size: 14px;
  }

  .about {
    flex-direction: column;
  }

  .about-info {
    justify-content: flex-start;
    width: auto;
  }

  header {
    grid-template-columns: 5% 45% 18% 6%;
    font-size: 1.3rem;

    > .phone,
    .working-time {
      font-size: 1.3rem;

      &::before {
        width: 16px;
        height: 16px;
      }
    }
    > .logo {
      width: 4.4rem;
    }
  }

  .equipment-items {
    font-size: 2rem;
  }

  .item {
    flex-basis: 40%;
  }

  .game-img {
    max-width: 150px;
  }

  .game-name {
    font-size: 2.1rem;
  }
}

@media (max-width: 1250px) {
  .slider-container {
    font-size: 13px;
  }
}

@media (max-width: 1150px) {
  .location-list {
    font-size: 3rem;
  }

  .slider-container {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  :host {
    &::after {
      display: none;
    }

    > main {
      &::after {
        width: 390px;
        height: 70px;
      }

      h1 {
        &::after {
          height: 22px;
        }
      }
    }

    .prices {
      height: auto;

      &::before {
        width: 390px;
        height: 70px;
      }

      > .separate-tables {
        &::before {
          height: 22px;
        }
      }

      > p {
        margin-top: 60px;
        font-size: 2.2rem;
      }
    }

    .separate-tables {
      display: block;

      &::before {
        position: absolute;
        display: block;
        content: '';
        right: 0;
        top: 0;
        width: 80%;
        height: 35px;
        background-image: url(../../assets/img/frame-2.svg);
        transform: rotate(180deg);
      }

      > table {
        margin-top: 25px;
      }
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    clip-path: none;
    width: 100%;
    margin-left: 0;
  }

  .item {
    flex-basis: 50%;
    margin: 20px 0;
  }

  .hamburger {
    position: relative;
    margin-right: 20px;
    width: 3rem;
    height: 2rem;
    z-index: 15;
    cursor: pointer;

    &:hover {
      filter: brightness(1.1);
    }

    &::before,
    &::after,
    span {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      background: linear-gradient(180deg, #761ad9, #811cec, #912aff);
      transition: all 0.2s ease 0s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
      background: linear-gradient(180deg, #761ad9, #811cec);
    }
  }

  .hamburger.active {
    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }

    span {
      transform: scale(0) translate(0px, -50%);
    }
  }

  .hamburger-body {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s ease 0s;
    background-color: #000000d0;
    right: -100%;
    z-index: 10;
    overflow: hidden;
  }

  .hamburger-body.active {
    right: 0;
  }

  .hamburger-list {
    flex-direction: column;
    height: 100%;
    overflow: auto;
    font-size: 2.5rem;

    .burger-li {
      display: flex;
      flex-direction: column;
      height: 50%;
      flex: auto 1;

      > li {
        color: #fff;
        padding: 1rem 2rem;
        margin: 1vh 0vh;

        &:first-child {
          margin-top: 10vh;
        }
      }
    }

    .burger-nav {
      display: flex;
      flex-direction: column;
      flex: 1 auto;

      > a {
        padding: 1.5rem 0;
        border-top: 1px solid #ffffff3b;
        border-bottom: 1px solid #ffffff3b;
        color: #fff;
        text-decoration: none;
        font-size: 2.2rem;
        text-align: center;
      }

      > a + a {
        border-top: none;
      }
    }
  }

  .social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid #ffffff3b;
    border-top: none;

    > a {
      height: 3rem;
      width: 3rem;

      > img {
        width: 100%;
      }
    }
  }

  .location-list {
    font-size: 2.4rem;
  }

  .slider-container {
    font-size: 11px;
  }
}

@media (max-width: 900px) {
  .slider-container {
    font-size: 9px;
  }
}

@media (max-width: 800px) {
  .location-list {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  h1 {
    > img {
      width: 60vw;
    }
  }

  .about-info {
    > h2 {
      width: 100%;
    }
  }

  .equipment-items {
    display: block;
    height: 80%;
    font-size: 2rem;
    margin-top: 4vh;
  }

  .item-img {
    max-width: 5rem;
  }

  .prices-table {
    font-size: 2.5rem;
  }

  .about {
    padding: 5vh 5vw;
  }

  .about-info {
    > h2 {
      font-size: 3.8rem;
    }
  }

  .glitched {
    font-size: 3.8rem !important;
  }

  .header-text {
    &::before {
      width: 2.5rem !important;
      height: 3.1rem !important;
    }
  }

  .img-info {
    width: 3rem;
  }

  .game-img {
    max-width: 130px;
  }

  .slider-container {
    font-size: 8px;
  }
}

@media (max-width: 636px) {
  .about-info {
    > h2 {
      font-size: 3rem;

      &::before {
        width: 2rem;
        height: 2.5rem;
      }
    }

    > span {
      font-size: 2.5rem;
    }
  }

  .prices-table {
    font-size: 2rem;
  }

  .prices {
    &::before {
      display: none;
    }

    > .separate-tables {
      &::before {
        width: 100%;
      }
    }
  }

  :host {
    > main {
      h1 {
        &::after {
          width: 100%;
        }
      }

      &::after {
        display: none;
      }
    }
  }

  .slider-container {
    font-size: 7px;
  }
}

@media (max-width: 550px) {
  .info-item {
    flex-wrap: wrap;
  }

  .img-info {
    display: none;
  }

  .label-info {
    padding-left: 0;
  }

  .game-name {
    font-size: 2rem;
  }

  .slider-container {
    font-size: 6px;
  }

  .hamburger-list {
    .burger-li {
      > li {
        font-size: 2rem;
      }
    }

    .burger-nav {
      > a {
        font-size: 2.25rem;
      }
    }
  }
}

@media (max-width: 467px) {
  .hamburger-list {
    .burger-li {
      > li {
        font-size: 1.5rem;
      }
    }

    .burger-nav {
      > a {
        font-size: 1.55rem;
      }
    }
  }

  .about-info {
    > h2 {
      font-size: 2.5rem;

      &::before {
        width: 1.5rem;
        height: 2.1rem;
      }
    }

    > span {
      font-size: 2rem;
    }
  }

  .glitched {
    font-size: 2.8rem !important;
  }

  .header-text {
    &::before {
      width: 1.6rem !important;
      height: 2.2rem !important;
    }
  }

  .game-img {
    max-width: 100px;
  }

  .slider-container {
    font-size: 4px;
  }
}
// Маленький телефон (например, iPhone SE): @media (max-width: 320px)
// Средний телефон (например, iPhone 6/7/8): @media (max-width: 375px)
// Большой телефон (например, iPhone 6/7/8 Plus): @media (max-width: 414px)
// Некоторые планшеты (например, iPad): @media (max-width: 768px)
// Планшеты и некоторые небольшие ноутбуки:
// Портретная ориентация планшета (например, iPad): @media (max-width: 1024px)
// Альбомная ориентация планшета (например, iPad Pro): @media (max-width: 1366px)
// Ноутбуки и настольные компьютеры:
// Маленький ноутбук (например, MacBook Air): @media (max-width: 1440px)
// Средний ноутбук (например, MacBook Pro 13"): @media (max-width: 1680px)
// Большой ноутбук/монитор (например, iMac): @media (max-width: 1920px)
