@font-face {
  font-family: 'Jersey';
  src: url(../fonts/Jersey.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Clickuper';
  src: url(../fonts/Clickuper.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Arturito';
  src: url(../fonts/Arturito.ttf);
  font-style: normal;
  font-weight: normal;
}