:root {
  --light-sky-blue: #6ecbf5;
  --medium-orchid: #c252e1;
  --lavender: #e0d9f6;
  --roual-blue: #586ae2;
  --midnight-blue: #2a2356;

  // * ----- * //
  --bg-color-body: #1e0033;
  --bg-color-header: #000000d5;
  --bg-color-about: #0f0f0f;
  --bg-color-equipment: #0f0f0f;
  --bg-color-location: #0f0f0f;
  --bd-color-games: #741481;
  --bd-color-map: #761ad9;
  --bd-color-equipment: #741481;
  --arrow-first-hamburger: #811cec;
  --arrow-second-hamburger: #761ad9;
  --text-color-td: #d8b5ff;
  --text-color-span: #d8b5ff;
  --text-color-h1: #9a35ed;
  --text-hover-li: #9a35ed;
  --text-color-ptd: #9a35ed;
  --text-color-h2: #b371ff;
  --border-color-tr: #9a35ed;
  --text-color-p: #9a35ed;
  --text-color-nav: #fff;
  --article-color-before: #9a35ed;
  --bg-color-td: #00ff003b;
  --acitve-color-td: #81c427;
  --shadow-color-red: #ff0000;
  --shadow-color-blue: #6ecbf5;
  --text-color-subs: #81c427;
}